name: Sync to Azure DevOps

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Add Azure DevOps remote and push
        env:
          AZDO_PAT: ${{ secrets.WORK_DEVOPS }}
        run: |
          # Add Azure DevOps as a remote
          git remote add azdo https://$AZDO_PAT@dev.azure.com/harveynorman/HN%20Commercial%20Division/_git/err403-Ui-Library

          # Push GitHub main branch to Azure DevOps inGitHub branch
          git push azdo main:inGitHub --force
